.App {
  text-align: center;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

#homecontainer {
  background-image: url('./shared/wood-background.jpg');
  height: auto;
  background-size: cover;
}

#succulentscontainer {
  background-image: url('./shared/coding-and-succulents-2.jpg');
  height: auto;
  background-size: 100%;
  background-repeat: no-repeat;
}

#aboutcontainer {
  background-image: url('./shared/white-background.jpg');
  height: auto;
  background-size: 100%;
}

body {
  font-family: 'Shadows Into Light', cursive;
}

h1 {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 45px;
  text-shadow: 2px 2px 2px #282c34;
}

h2 {
  color: black;
  font-size: 35px;
  text-shadow: 2px 2px 2px #f5f5f5;
  font-weight: bold;
}

h3 {
  color: white;
  font-size: 20px;
  font-family: 'Shadows Into Light', cursive;
  text-shadow: 2px 2px 2px #282c34;
}

h4 {
  color: white;
  font-size: 100px;
  font-family: 'Amatic SC', cursive;
  text-shadow: 2px 5px 2px #282c34;
}

h5 {
  color:white;
  font-size: 55px;
  text-shadow: 2px 3px 2px #282c34;
}

h6 {
  color: black;
  font-size: 35px;
  text-shadow: 2px 2px 2px #f5f5f5;
}

.card-img-overlay h5 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.site-footer {
  background-image: linear-gradient(rgb(110, 192, 172), rgb(2, 129, 91));
  padding: 20px 0;
}

.navbar-dark {
  background-color: rgb(110, 192, 172);
}

#topnav {
  float: right;
  font-size: 25px;
}

a {
  color: #FFF;
  font-size: 25px;
}

a:hover {
   color: rgb(0, 225, 255)
}

.card {
  height: auto;
  width: 30%;
  border-width: 3px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

#infocard {
  height: auto;
  width: 100%;
  border-width: 3px;
}

/* #inlaycard {
  height: auto;
  width: 100%;
  border-width: 2px;
} */

#cardtext {
  color: black;
  font-size: 30px;
  text-shadow: 1px 1px 2px #464343;
  width: 100%;
}

.card-body {
  background-color: white;
}

#ending {
  color: black;
  font-size: 45px;
  text-shadow: 1px 1px 2px rgb(110, 192, 172);
}

#disclosure {
  color: gray;
  font-size: 15px;
  text-shadow: 1px 1px 2px rgb(110, 192, 172);
}